{# {% extends "/frontoffice/home.html.twig" %} #}

{% block title %}post.title{% endblock %}

{% block content %} 
    <article>
    
            <h2>title = {{ post.title }}</h2>
            <p>text = {{ post.content}}</p>
             <h4> Auteur = {{post.pseudo}} </h4>
             <span> Date de Publication :{{post.DateCreated}} </span>
    </article>

    <section>
        <h3>Commentaires</h3>
        {% if comments %}
            {% for comment in comments %}
                <p>id =  {{ comment.idPost }}<br>
                pseudo = {{ comment.pseudoUser }}<br>
                text = {{ comment.content }}</p>
               
            {% endfor %}
        {% else %}
            <h4>Aucun commentaires</h4>
        {% endif %}
    </section>
{% endblock %}
