
 {% extends "/frontoffice/base.html.twig" %} 
 {% block title %}Liste des posts{% endblock %}
 {% block content %} 
<body>
 <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Tous les blogs posts</h1>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="row">              
                {% for post in posts %}
                    <div class="col-lg-4">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top"
                                    src="images/MOUDOU.png" alt="..." /></a>
                            <div class="cardbody">
                                <div class="small text-muted">{{post.DateCreated | date("d/m/Y" )}}</div>
                                 <em>dernière mise à jour le {{post.dateUp | date("d/m/Y")}}</em>
                                <h3 class="card-title h4" >{{ post.title}}</h3>
                                <p class="card-text">{{ post.shortContent}}</p>
                                <a class="btn btn-primary" href="index.php?action=articledetails&id={{ post.id}}">Lire le post →</a>
                            </div>                             
                        </div>                       
                    </div>                   
                {% endfor %}               
            </div>
        </div>
    </div>
{% endblock %}


