 {% extends "/backoffice/base.html.twig" %} 
 {% block title %}{% endblock %}
 {% block content %}
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="my-5">
                         <h3 class ="text-center" id="contact">Modifier le post</h3>
                        <form action="index.php?action=updatePost" method ="POST" class = "was-valided">
                            <div class="form-floating">
                                <input type="hidden" name="token" value="{{ token }}"/>
                                <input type="hidden" value="{{ post.id}}"  name="id_article"/>              
                                 <select class="form-control" name="id_author">               
                                 {% for auteur in users %}
                                 {% if auteur.status == "admin" or auteur.status == "superadmin" %}
                                 <option value = "{{ auteur.id}}"> {{ auteur.pseudo }}</option>
                                {% endif %}{% endfor %}
                                </select>
                                <label for="name">Auteur</label>
                            </div>
                             <div class="form-floating">
                                <input class="form-control" name="title" type="text" value = 
                                "{{ post.title}}"required />
                                <label for="name">Titre</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" name="short_content" style="height: 7rem"  required />{{ post.shortContent}}</textarea>
                                <label for="name">Châpo</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" name="content"  style="height: 20rem" required>{{ post.content}}</textarea>
                                <label for="message">Post</label>
                            </div>
                                <button type="submit" value ="submit" class="btn btn-secondary text-uppercase text-center" id="submitButton" >Poster</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </main>

 {% endblock %}